In [1]:
#importing necessary libraries 

import pandas as pd  
import numpy as np

# Dataset -> Listings detailed

In [2]:
listings_detailed = pd.read_csv('listings2.csv')
listings_detailed.head()

C:\Users\Rita Pereira\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (61,62) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,6499,https://www.airbnb.com/rooms/6499,20200128033557,2020-01-28,Belém 1 Bedroom Historical Apartment,"This apartment is all about Location, next to ...",Fully furnished apartment (35m2). Small inside...,"This apartment is all about Location, next to ...",none,"To get to the city center, tram 15 stops in f...",...,t,f,moderate,f,f,1,1,0,0,0.39
1,25659,https://www.airbnb.com/rooms/25659,20200128033557,2020-01-28,"Sunny, Alfama Sleeps 3 - Coeur d'Alfama",Sunny 1 Bedroom cozy apartment in historic Alf...,"Charming, sunny, cozy apartment in the heart o...",Sunny 1 Bedroom cozy apartment in historic Alf...,none,Alfama is the oldest and most picturesque quar...,...,t,f,moderate,f,f,1,1,0,0,1.61
2,28066,https://www.airbnb.com/rooms/28066,20200128033557,2020-01-29,ear the birds,NaN,traditional farm house in a quiet place where ...,traditional farm house in a quiet place where ...,none,NaN,...,f,f,flexible,f,f,1,0,1,0,NaN
3,29138,https://www.airbnb.com/rooms/29138,20200128033557,2020-01-28,Room for rent in shared house,NaN,"05 minutes from city center by subway, 10 minu...","05 minutes from city center by subway, 10 minu...",none,NaN,...,f,f,flexible,f,f,1,0,1,0,NaN
4,29248,https://www.airbnb.com/rooms/29248,20200128033557,2020-01-28,Apartamento Alfama com vista para o rio!,NaN,"Located in the city center, and great location...","Located in the city center, and great location...",none,NaN,...,t,f,moderate,f,f,1,1,0,0,2.89

In [3]:
listings_detailed.shape

(25002, 106)

In [4]:
len(listings_detailed.columns.tolist())

106

In [5]:
print(listings_detailed.columns.tolist())

['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary', 'space', 'description', 'experiences_offered', 'neighborhood_overview', 'notes', 'transit', 'access', 'interaction', 'house_rules', 'thumbnail_url', 'medium_url', 'picture_url', 'xl_picture_url', 'host_id', 'host_url', 'host_name', 'host_since', 'host_location', 'host_about', 'host_response_time', 'host_response_rate', 'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood', 'host_listings_count', 'host_total_listings_count', 'host_verifications', 'host_has_profile_pic', 'host_identity_verified', 'street', 'neighbourhood', 'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market', 'smart_location', 'country_code', 'country', 'latitude', 'longitude', 'is_location_exact', 'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet', 'price', 'weekly_price', 'monthly_price', 'security_deposit', 'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights', 'maximum_nights', 'minimum_minimum_nights', 'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights', 'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability', 'availability_30', 'availability_60', 'availability_90', 'availability_365', 'calendar_last_scraped', 'number_of_reviews', 'number_of_reviews_ltm', 'first_review', 'last_review', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'requires_license', 'license', 'jurisdiction_names', 'instant_bookable', 'is_business_travel_ready', 'cancellation_policy', 'require_guest_profile_picture', 'require_guest_phone_verification', 'calculated_host_listings_count', 'calculated_host_listings_count_entire_homes', 'calculated_host_listings_count_private_rooms', 'calculated_host_listings_count_shared_rooms', 'reviews_per_month']

In [6]:
#let's remove columns we think won't be useful
low_variance = []

for col in listings_detailed._get_numeric_data():
    minimum = min(listings_detailed[col])
    ninety_perc = np.percentile(listings_detailed[col], 90)
    if ninety_perc == minimum:
        low_variance.append(col)

print(low_variance)

C:\Users\Rita Pereira\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3826: RuntimeWarning: Invalid value encountered in percentile
  interpolation=interpolation)

['scrape_id', 'calculated_host_listings_count_shared_rooms']

In [7]:
#host_acceptance_rate: All column vales are N/A
#country_code and country (All PT)
#business travel ready is all F
#requires licence 
#availability_30,60, etc.... -> availability for the future
#neighbourhood_cleansed too detailed
#scores ratings other than 'review_scores_rating' left since the latest is a weighted average
#'cleaning_fee' included in price
#licence doesnt tell anything about the listing or neighbour since it lisbon is mandatory to have licence 
'''
'instant_bookable',
 'cancellation_policy',
 'require_guest_profile_picture',
 'require_guest_phone_verification',

to buld a flexiblity scale

'''

columns_to_remove = ['neighbourhood',"scrape_id",'listing_url',"last_scraped","experiences_offered","notes","transit","access","interaction",'number_of_reviews_ltm',
                     "thumbnail_url","house_rules","medium_url","picture_url","xl_picture_url","host_name","host_about",
                     "host_acceptance_rate","host_url","host_thumbnail_url","host_picture_url","host_neighbourhood","host_verifications",
                     "state","market","smart_location","country",'country_code',"minimum_minimum_nights","maximum_minimum_nights",
                     "minimum_maximum_nights",'maximum_maximum_nights',"minimum_nights_avg_ntm","maximum_nights_avg_ntm","calendar_last_scraped",
                     "jurisdiction_names", "street", "calendar_updated", "has_availability", "is_location_exact", "city", "zipcode", 
                     "is_business_travel_ready", "weekly_price", "monthly_price",'maximum_nights', 'availability_30',
                     'availability_60','availability_90','availability_365','square_feet', 'latitude','longitude',
                     "host_id","host_since", "host_location", "host_response_time",'host_response_rate','host_listings_count',
                     'host_total_listings_count','host_has_profile_pic','host_identity_verified','summary','space',
                     'review_scores_accuracy','review_scores_cleanliness','review_scores_checkin','review_scores_communication',
                     'review_scores_location','review_scores_value', 'cleaning_fee', 'security_deposit','extra_people',
                     'requires_license','license', 'calculated_host_listings_count_entire_homes','calculated_host_listings_count_private_rooms',
                     'calculated_host_listings_count_shared_rooms']

data = listings_detailed.drop(columns_to_remove, axis =1)

# Final Columns

In [8]:
print(data.columns.tolist())

['id', 'name', 'description', 'neighborhood_overview', 'host_is_superhost', 'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'price', 'guests_included', 'minimum_nights', 'number_of_reviews', 'first_review', 'last_review', 'review_scores_rating', 'instant_bookable', 'cancellation_policy', 'require_guest_profile_picture', 'require_guest_phone_verification', 'calculated_host_listings_count', 'reviews_per_month']

In [9]:
#We can use the info() method to output some general information about the dataframe:

len(data.columns.tolist())

28

In [10]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25002 entries, 0 to 25001
Data columns (total 28 columns):
id                                  25002 non-null int64
name                                24982 non-null object
description                         24675 non-null object
neighborhood_overview               17092 non-null object
host_is_superhost                   25002 non-null object
neighbourhood_cleansed              25002 non-null object
neighbourhood_group_cleansed        25002 non-null object
property_type                       25002 non-null object
room_type                           25002 non-null object
accommodates                        25002 non-null int64
bathrooms                           24973 non-null float64
bedrooms                            24992 non-null float64
beds                                24891 non-null float64
bed_type                            25002 non-null object
amenities                           25002 non-null object
price                               25002 non-null object
guests_included                     25002 non-null int64
minimum_nights                      25002 non-null int64
number_of_reviews                   25002 non-null int64
first_review                        21122 non-null object
last_review                         21122 non-null object
review_scores_rating                20935 non-null float64
instant_bookable                    25002 non-null object
cancellation_policy                 25002 non-null object
require_guest_profile_picture       25002 non-null object
require_guest_phone_verification    25002 non-null object
calculated_host_listings_count      25002 non-null int64
reviews_per_month                   21122 non-null float64
dtypes: float64(5), int64(6), object(17)
memory usage: 5.3+ MB
None

In [11]:
data.describe()

,id,accommodates,bathrooms,bedrooms,beds,guests_included,minimum_nights,number_of_reviews,review_scores_rating,calculated_host_listings_count,reviews_per_month
count,2.500200e+04,25002.000000,24973.000000,24992.000000,24891.000000,25002.000000,25002.000000,25002.000000,20935.000000,25002.000000,21122.000000
mean,2.182569e+07,4.043916,1.438574,1.657050,2.530834,2.040837,2.928966,41.881689,92.449773,15.160707,1.642763
std,1.159542e+07,2.379867,0.909724,1.325917,2.156652,1.662920,13.893752,64.687500,8.565025,41.948986,1.581443
min,6.499000e+03,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,20.000000,1.000000,0.010000
25%,1.324810e+07,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,90.000000,1.000000,0.380000
50%,2.230370e+07,4.000000,1.000000,1.000000,2.000000,2.000000,2.000000,14.000000,95.000000,3.000000,1.130000
75%,3.159456e+07,5.000000,2.000000,2.000000,3.000000,2.000000,3.000000,54.000000,98.000000,10.000000,2.500000
max,4.188291e+07,32.000000,24.000000,100.000000,100.000000,20.000000,1000.000000,866.000000,100.000000,323.000000,17.720000

In [12]:
### MISSING VALUES ###

null_cols = data.isnull().sum()
null_cols[null_cols > 0]

name                       20
description               327
neighborhood_overview    7910
bathrooms                  29
bedrooms                   10
beds                      111
first_review             3880
last_review              3880
review_scores_rating     4067
reviews_per_month        3880
dtype: int64

In [13]:
#makes sense that last review and reviews per month 
#have missing values when number_of_reviews=0. Let's check that:

null_review = data[(data['last_review'].isnull()==True)| (data['reviews_per_month'].isnull()==True)]
null_review['number_of_reviews']

#What to do with the missing values?
#We can see that last_review reviews_per_month is null when number of reviews zero, 
#which makes total sense! Therefore it makes sense to replace the null values with zeros

2        0
3        0
17       0
38       0
41       0
        ..
24997    0
24998    0
24999    0
25000    0
25001    0
Name: number_of_reviews, Length: 3880, dtype: int64

In [14]:
data['neighbourhood_group_cleansed'].unique()

array(['Lisboa', 'Azambuja', 'Cascais', 'Sintra', 'Alenquer', 'Oeiras',
       'Vila Franca De Xira', 'Mafra', 'Torres Vedras', 'Lourinh',
       'Loures', 'Cadaval', 'Amadora', 'Sobral De Monte Agrao',
       'Arruda Dos Vinhos', 'Odivelas'], dtype=object)

# Lisbon city only

In [15]:
#####  WE WANT TO ANALYSE DATA IN LISBON ONLY!! #######
data = data[(data['neighbourhood_group_cleansed']=='Lisboa')]

data.head()

,id,name,description,neighborhood_overview,host_is_superhost,neighbourhood_cleansed,neighbourhood_group_cleansed,property_type,room_type,accommodates,...,number_of_reviews,first_review,last_review,review_scores_rating,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,6499,Belém 1 Bedroom Historical Apartment,"This apartment is all about Location, next to ...","To get to the city center, tram 15 stops in f...",f,Belm,Lisboa,Apartment,Entire home/apt,3,...,26,2014-09-02,2020-01-03,91.0,t,moderate,f,f,1,0.39
1,25659,"Sunny, Alfama Sleeps 3 - Coeur d'Alfama",Sunny 1 Bedroom cozy apartment in historic Alf...,Alfama is the oldest and most picturesque quar...,t,Santa Maria Maior,Lisboa,Apartment,Entire home/apt,3,...,113,2014-04-24,2019-12-08,96.0,t,moderate,f,f,1,1.61
3,29138,Room for rent in shared house,"05 minutes from city center by subway, 10 minu...",NaN,f,Areeiro,Lisboa,Apartment,Private room,1,...,0,NaN,NaN,NaN,f,flexible,f,f,1,NaN
4,29248,Apartamento Alfama com vista para o rio!,"Located in the city center, and great location...",NaN,f,Santa Maria Maior,Lisboa,Apartment,Entire home/apt,4,...,319,2011-01-01,2019-10-29,91.0,t,moderate,f,f,1,2.89
5,29396,Alfama Hill - Boutique apartment,Feel at home in the historic centre of Lisbon....,Great neighborhood in the old part of town. Am...,f,Santa Maria Maior,Lisboa,Apartment,Entire home/apt,4,...,232,2012-05-22,2020-01-12,96.0,t,strict_14_with_grace_period,f,t,2,2.48

In [16]:
data.shape

(18265, 28)

In [17]:
#the below listings don't have enough information for our quality analysis 
null_displ = data[(data['last_review'].isnull()==True)|(data['first_review'].isnull()==True)]
null_displ['review_scores_rating']

3       NaN
17      NaN
38      NaN
43      NaN
64      NaN
         ..
24997   NaN
24998   NaN
24999   NaN
25000   NaN
25001   NaN
Name: review_scores_rating, Length: 2532, dtype: float64

In [18]:
data = data.dropna(subset=['last_review','first_review'])
data

,id,name,description,neighborhood_overview,host_is_superhost,neighbourhood_cleansed,neighbourhood_group_cleansed,property_type,room_type,accommodates,...,number_of_reviews,first_review,last_review,review_scores_rating,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,6499,Belém 1 Bedroom Historical Apartment,"This apartment is all about Location, next to ...","To get to the city center, tram 15 stops in f...",f,Belm,Lisboa,Apartment,Entire home/apt,3,...,26,2014-09-02,2020-01-03,91.0,t,moderate,f,f,1,0.39
1,25659,"Sunny, Alfama Sleeps 3 - Coeur d'Alfama",Sunny 1 Bedroom cozy apartment in historic Alf...,Alfama is the oldest and most picturesque quar...,t,Santa Maria Maior,Lisboa,Apartment,Entire home/apt,3,...,113,2014-04-24,2019-12-08,96.0,t,moderate,f,f,1,1.61
4,29248,Apartamento Alfama com vista para o rio!,"Located in the city center, and great location...",NaN,f,Santa Maria Maior,Lisboa,Apartment,Entire home/apt,4,...,319,2011-01-01,2019-10-29,91.0,t,moderate,f,f,1,2.89
5,29396,Alfama Hill - Boutique apartment,Feel at home in the historic centre of Lisbon....,Great neighborhood in the old part of town. Am...,f,Santa Maria Maior,Lisboa,Apartment,Entire home/apt,4,...,232,2012-05-22,2020-01-12,96.0,t,strict_14_with_grace_period,f,t,2,2.48
6,29720,TheHOUSE - Your luxury home,"A house at the top of an anonimous building, T...","Location in the city's Embassies area, near en...",t,Estrela,Lisboa,Apartment,Entire home/apt,16,...,52,2011-01-05,2020-01-03,98.0,f,strict_14_with_grace_period,f,t,2,0.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24795,41553855,GRAND PARLIAMENT DUPLEX by HOMING,This marvellous apartment is located near the ...,NaN,f,Misericrdia,Lisboa,Apartment,Entire home/apt,8,...,3,2020-01-23,2020-01-25,100.0,t,strict_14_with_grace_period,f,f,45,3.00
24797,41553859,PRINCIPE REAL VIEWS by HOMING,This bright new partment in Príncipe Real with...,NaN,f,Misericrdia,Lisboa,Apartment,Entire home/apt,4,...,1,2020-01-23,2020-01-23,100.0,t,strict_14_with_grace_period,f,f,45,1.00
24798,41553861,LAPA TERRACE by HOMING,This marvellous apartment has a terrace with v...,NaN,f,Estrela,Lisboa,Apartment,Entire home/apt,6,...,2,2020-01-23,2020-01-24,100.0,t,strict_14_with_grace_period,f,f,45,2.00
24818,41575078,Center of lisbon,located in heart of city close to Metro transp...,NaN,f,Arroios,Lisboa,Apartment,Private room,2,...,1,2020-01-23,2020-01-23,100.0,t,flexible,f,f,1,1.00
24898,41712909,São Lázaro near Baixa by Innkeeper,Welcome to Lisbon! A beautifully designed apar...,NaN,f,Arroios,Lisboa,Apartment,Entire home/apt,4,...,1,2020-01-27,2020-01-27,100.0,t,moderate,f,f,3,1.00

In [19]:
data.shape

(15733, 28)

In [20]:
data['review_scores_rating']

0         91.0
1         96.0
4         91.0
5         96.0
6         98.0
         ...
24795    100.0
24797    100.0
24798    100.0
24818    100.0
24898    100.0
Name: review_scores_rating, Length: 15733, dtype: float64

In [21]:
#let's check datatypes
data.dtypes

id                                    int64
name                                 object
description                          object
neighborhood_overview                object
host_is_superhost                    object
neighbourhood_cleansed               object
neighbourhood_group_cleansed         object
property_type                        object
room_type                            object
accommodates                          int64
bathrooms                           float64
bedrooms                            float64
beds                                float64
bed_type                             object
amenities                            object
price                                object
guests_included                       int64
minimum_nights                        int64
number_of_reviews                     int64
first_review                         object
last_review                          object
review_scores_rating                float64
instant_bookable                     object
cancellation_policy                  object
require_guest_profile_picture        object
require_guest_phone_verification     object
calculated_host_listings_count        int64
reviews_per_month                   float64
dtype: object

In [22]:
data['price']

0           $40.00
1           $60.00
4           $60.00
5           $60.00
6        $1,000.00
           ...
24795      $100.00
24797       $80.00
24798       $80.00
24818       $50.00
24898       $50.00
Name: price, Length: 15733, dtype: object

In [23]:
#let's change price type from object to float
# but first we neeed to remove special characters --> $ symbol
data['price'] = data['price'].str.replace('$', '')
data['price'] = data['price'].str.replace(',', '')

data['price'] = data.price.astype(float)

data['price'].dtypes #sucess!

dtype('float64')

In [24]:
#also it does not make sense to have data points with price zero
price_zero = data[(data['price']==0)]
price_zero

,id,name,description,neighborhood_overview,host_is_superhost,neighbourhood_cleansed,neighbourhood_group_cleansed,property_type,room_type,accommodates,...,number_of_reviews,first_review,last_review,review_scores_rating,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
11174,20385175,Mouraria Apartments in Beco de SM (II),If you are looking for a place to live during ...,If you are looking for a place to live during ...,f,Santa Maria Maior,Lisboa,Apartment,Entire home/apt,2,...,26,2017-08-17,2019-09-30,76.0,t,strict_14_with_grace_period,f,f,14,0.87
11201,20436203,Elegant Flat with a Beautiful View,"Elegant apartment with a beautiful view, idea...",LX Factory It’s in the year 1846 that a thread...,f,Alcntara,Lisboa,Apartment,Entire home/apt,4,...,26,2017-10-16,2020-01-03,93.0,t,moderate,f,f,6,0.93
11202,20436797,Spacious Apartment near the River,This is an apartment with much light for a gro...,LX Factory It’s in the year 1846 that a thread...,f,Alcntara,Lisboa,Apartment,Entire home/apt,4,...,8,2017-09-17,2019-09-28,88.0,t,moderate,f,f,6,0.28
11323,20613763,Double Bed Room I04,Private room with a double bed in a shared apa...,NaN,f,Arroios,Lisboa,Apartment,Private room,2,...,1,2017-08-28,2017-08-28,40.0,f,flexible,f,f,10,0.03
11375,20690078,Double Bed Room N04,Private room with a double bed in a shared apa...,"Student’s home is located in Lisboa, Portugal....",f,Arroios,Lisboa,Apartment,Private room,2,...,2,2017-09-06,2017-09-08,70.0,f,flexible,f,f,10,0.07

In [25]:
## remove those rows

data = data.drop([11174,11201,11202,11323,11375], axis=0)

In [26]:
price_zero = data[(data['price']==0)]
price_zero

Empty DataFrame
Columns: [id, name, description, neighborhood_overview, host_is_superhost, neighbourhood_cleansed, neighbourhood_group_cleansed, property_type, room_type, accommodates, bathrooms, bedrooms, beds, bed_type, amenities, price, guests_included, minimum_nights, number_of_reviews, first_review, last_review, review_scores_rating, instant_bookable, cancellation_policy, require_guest_profile_picture, require_guest_phone_verification, calculated_host_listings_count, reviews_per_month]
Index: []

[0 rows x 28 columns]

In [27]:
#convert fist and last review into data type data format

data['last_review'] = pd.to_datetime(data['last_review'])
data['first_review'] = pd.to_datetime(data['first_review'])

In [28]:
# listing_duration = (last_review - first_review) -> value to be evaluated in days

data.insert(21, "listing_duration", data['last_review'] - data["first_review"], True)

In [29]:
data['listing_duration'].unique()

array([168393600000000000, 177465600000000000, 278467200000000000, ...,
        13996800000000000,   8467200000000000,   9936000000000000],
      dtype='timedelta64[ns]')

In [30]:
#transform into days
data["listing_duration"]=  (data['last_review'] - data["first_review"]).dt.days
data['listing_duration'].unique()

array([1949, 2054, 3223, ...,  162,   98,  115], dtype=int64)

In [31]:
data.dtypes

id                                           int64
name                                        object
description                                 object
neighborhood_overview                       object
host_is_superhost                           object
neighbourhood_cleansed                      object
neighbourhood_group_cleansed                object
property_type                               object
room_type                                   object
accommodates                                 int64
bathrooms                                  float64
bedrooms                                   float64
beds                                       float64
bed_type                                    object
amenities                                   object
price                                      float64
guests_included                              int64
minimum_nights                               int64
number_of_reviews                            int64
first_review                        datetime64[ns]
last_review                         datetime64[ns]
listing_duration                             int64
review_scores_rating                       float64
instant_bookable                            object
cancellation_policy                         object
require_guest_profile_picture               object
require_guest_phone_verification            object
calculated_host_listings_count               int64
reviews_per_month                          float64
dtype: object

# TO DO:

In [32]:
"""
We'll use 'instant_bookable', 'cancellation_policy', 'require_guest_profile_picture' and 'require_guest_phone_verification'
to a create a single varible where we can analyse the flexibility of the listing. 
"""

data['cancellation_policy'].unique()

array(['moderate', 'strict_14_with_grace_period', 'flexible',
       'super_strict_60', 'super_strict_30', 'strict'], dtype=object)

In [33]:
#rename columns 
data = data.rename(columns={'neighbourhood_cleansed':'neighbourhood',
                            'neighbourhood_group_cleansed':'city'})

In [34]:
print(data.columns.tolist())

['id', 'name', 'description', 'neighborhood_overview', 'host_is_superhost', 'neighbourhood', 'city', 'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'price', 'guests_included', 'minimum_nights', 'number_of_reviews', 'first_review', 'last_review', 'listing_duration', 'review_scores_rating', 'instant_bookable', 'cancellation_policy', 'require_guest_profile_picture', 'require_guest_phone_verification', 'calculated_host_listings_count', 'reviews_per_month']

In [35]:
## order columns 

column_order = ['id', 'name', 'city','neighbourhood', 'price','description', 'neighborhood_overview',   
                'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds', 'bed_type', 
                'amenities',  'guests_included', 'minimum_nights', 'number_of_reviews', 'first_review', 'last_review',
                'listing_duration', 'review_scores_rating', 'host_is_superhost','instant_bookable', 'cancellation_policy', 
                'require_guest_profile_picture', 'require_guest_phone_verification', 'calculated_host_listings_count', 
                'reviews_per_month']

data = data[column_order]
data.head()

,id,name,city,neighbourhood,price,description,neighborhood_overview,property_type,room_type,accommodates,...,last_review,listing_duration,review_scores_rating,host_is_superhost,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,6499,Belém 1 Bedroom Historical Apartment,Lisboa,Belm,40.0,"This apartment is all about Location, next to ...","To get to the city center, tram 15 stops in f...",Apartment,Entire home/apt,3,...,2020-01-03,1949,91.0,f,t,moderate,f,f,1,0.39
1,25659,"Sunny, Alfama Sleeps 3 - Coeur d'Alfama",Lisboa,Santa Maria Maior,60.0,Sunny 1 Bedroom cozy apartment in historic Alf...,Alfama is the oldest and most picturesque quar...,Apartment,Entire home/apt,3,...,2019-12-08,2054,96.0,t,t,moderate,f,f,1,1.61
4,29248,Apartamento Alfama com vista para o rio!,Lisboa,Santa Maria Maior,60.0,"Located in the city center, and great location...",NaN,Apartment,Entire home/apt,4,...,2019-10-29,3223,91.0,f,t,moderate,f,f,1,2.89
5,29396,Alfama Hill - Boutique apartment,Lisboa,Santa Maria Maior,60.0,Feel at home in the historic centre of Lisbon....,Great neighborhood in the old part of town. Am...,Apartment,Entire home/apt,4,...,2020-01-12,2791,96.0,f,t,strict_14_with_grace_period,f,t,2,2.48
6,29720,TheHOUSE - Your luxury home,Lisboa,Estrela,1000.0,"A house at the top of an anonimous building, T...","Location in the city's Embassies area, near en...",Apartment,Entire home/apt,16,...,2020-01-03,3285,98.0,t,f,strict_14_with_grace_period,f,t,2,0.47

In [36]:
#create a flexibility variable with 'require_guest_profile_picture', 'require_guest_phone_verification','instant_bookable'

### labels = ['Low Flexibility', 'Moderate', 'High Flexibility']

# A Neighborhood Analysis

In [37]:
data['neighbourhood'].unique()

array(['Belm', 'Santa Maria Maior', 'Estrela', 'Avenidas Novas', 'Lumiar',
       'Misericrdia', 'So Vicente', 'Campolide', 'Santo Antnio',
       'Alvalade', 'Penha de Frana', 'Arroios', 'Alcntara', 'Areeiro',
       'Ajuda', 'Parque das Naes', 'Campo de Ourique', 'Benfica',
       'Olivais', 'So Domingos de Benfica', 'Beato', 'Marvila', 'Carnide',
       'Santa Clara'], dtype=object)

In [38]:
data.groupby(['neighbourhood'])

In [39]:
#### PRICE ANALYSIS ####
columns_to_show = ['price']

neighbourhood_price = data.groupby(['neighbourhood'])[columns_to_show].describe()
neighbourhood_price

                         price                                             \
                         count        mean         std   min    25%   50%
neighbourhood
Ajuda                    168.0   75.696429   93.843912  18.0  41.75  55.5
Alcntara                 288.0   69.927083   57.234327  15.0  40.00  55.0
Alvalade                 225.0   69.426667   90.608780  11.0  35.00  50.0
Areeiro                  330.0   61.009091   50.733614  11.0  30.00  49.0
Arroios                 1979.0   76.529055   94.412935   9.0  39.00  59.0
Avenidas Novas           613.0   82.223491   83.697580   9.0  40.00  59.0
Beato                     81.0   52.679012   26.076247  10.0  35.00  50.0
Belm                     307.0   70.980456   45.031938  13.0  49.00  62.0
Benfica                   57.0   58.543860   29.634723  14.0  40.00  55.0
Campo de Ourique         323.0   73.842105   60.619036   8.0  44.50  60.0
Campolide                165.0   66.618182   63.200173   9.0  35.00  55.0
Carnide                   40.0   58.175000   45.664825   9.0  35.00  50.0
Estrela                  993.0   77.415911   64.610068  14.0  47.00  60.0
Lumiar                   127.0   91.543307  155.857931  13.0  35.00  50.0
Marvila                   70.0   84.371429  173.313921  12.0  39.00  55.0
Misericrdia             2786.0   87.562455   74.084370  12.0  50.00  70.0
Olivais                  176.0   55.301136   37.940633  11.0  30.00  49.0
Parque das Naes          305.0  100.045902   67.038367  20.0  60.00  86.0
Penha de Frana           521.0   56.763916   33.865968   9.0  32.00  50.0
Santa Clara               18.0   65.555556  136.782017   9.0  17.75  20.5
Santa Maria Maior       3391.0   90.173400  154.347860   9.0  50.00  72.0
Santo Antnio            1292.0   87.094427   65.751336  10.0  50.00  72.5
So Domingos de Benfica   123.0   70.569106   42.168686   9.0  39.00  60.0
So Vicente              1350.0   79.109630   68.732018  12.0  49.25  65.0


                          75%     max
neighbourhood
Ajuda                    78.5  1000.0
Alcntara                 80.0   700.0
Alvalade                 80.0  1167.0
Areeiro                  70.0   400.0
Arroios                  85.5  2300.0
Avenidas Novas           99.0  1200.0
Beato                    69.0   137.0
Belm                     80.0   500.0
Benfica                  70.0   165.0
Campo de Ourique         90.0   800.0
Campolide                79.0   712.0
Carnide                  66.0   300.0
Estrela                  90.0  1000.0
Lumiar                   84.0  1000.0
Marvila                  75.0  1400.0
Misericrdia             100.0  1000.0
Olivais                  70.0   385.0
Parque das Naes         123.0   500.0
Penha de Frana           75.0   250.0
Santa Clara              47.5   600.0
Santa Maria Maior       100.0  8000.0
Santo Antnio            100.0  1100.0
So Domingos de Benfica   94.0   250.0
So Vicente               85.0   950.0

In [40]:
# what neighbourhoods have oldest listings --> this can provide insight on the most habitual touristic areas

columns_to_show = ['listing_duration']

neighbourhood_duration = data.groupby(['neighbourhood'])[columns_to_show].describe()
neighbourhood_duration

                       listing_duration                                       \
                                  count        mean         std  min     25%
neighbourhood
Ajuda                             168.0  647.791667  570.364658  0.0  209.00
Alcntara                          288.0  579.781250  540.535163  0.0  181.50
Alvalade                          225.0  716.893333  595.085128  0.0  207.00
Areeiro                           330.0  545.727273  516.903151  0.0   84.25
Arroios                          1979.0  656.563921  591.260493  0.0  185.00
Avenidas Novas                    613.0  618.946166  590.303862  0.0   52.00
Beato                              81.0  674.950617  561.247648  0.0  200.00
Belm                              307.0  636.726384  568.316005  0.0  147.00
Benfica                            57.0  611.736842  561.168122  0.0  198.00
Campo de Ourique                  323.0  652.529412  544.645900  0.0  170.50
Campolide                         165.0  542.878788  577.872979  0.0  127.00
Carnide                            40.0  389.200000  432.337961  0.0   95.50
Estrela                           993.0  711.083585  637.236736  0.0  188.00
Lumiar                            127.0  479.826772  548.172666  0.0   17.50
Marvila                            70.0  464.057143  472.372516  0.0   66.25
Misericrdia                      2786.0  917.089017  709.839051  0.0  337.25
Olivais                           176.0  547.579545  525.784534  0.0  125.50
Parque das Naes                   305.0  586.970492  508.539306  0.0  148.00
Penha de Frana                    521.0  544.664107  511.925788  0.0  153.00
Santa Clara                        18.0  324.277778  352.971388  0.0    1.75
Santa Maria Maior                3391.0  928.209378  715.014851  0.0  335.00
Santo Antnio                     1292.0  740.773220  647.463044  0.0  215.00
So Domingos de Benfica            123.0  500.463415  535.546317  0.0   37.50
So Vicente                       1350.0  769.329630  625.248390  0.0  263.50


                          50%      75%     max
neighbourhood
Ajuda                   515.0   915.50  2528.0
Alcntara                441.5   856.75  3092.0
Alvalade                577.0  1135.00  3066.0
Areeiro                 444.5   862.25  2604.0
Arroios                 495.0   999.50  2994.0
Avenidas Novas          497.0  1003.00  3468.0
Beato                   511.0  1218.00  2199.0
Belm                    481.0   982.00  2617.0
Benfica                 481.0   814.00  2477.0
Campo de Ourique        561.0   968.50  2735.0
Campolide               394.0   803.00  2853.0
Carnide                 239.5   514.00  1838.0
Estrela                 538.0  1117.00  3285.0
Lumiar                  349.0   799.00  2315.0
Marvila                 370.5   769.00  1987.0
Misericrdia             814.5  1355.00  3291.0
Olivais                 412.5   847.00  2430.0
Parque das Naes         494.0   896.00  2279.0
Penha de Frana          414.0   823.00  2966.0
Santa Clara             179.0   528.75  1111.0
Santa Maria Maior       793.0  1392.50  3223.0
Santo Antnio            570.0  1104.00  3127.0
So Domingos de Benfica  356.0   773.50  2320.0
So Vicente              609.5  1157.75  3260.0

In [41]:
## which neighbourhoods have best ratings from costumers???

columns_to_show = ['review_scores_rating']

neighbourhood_reviews = data.groupby(['neighbourhood'])[columns_to_show].describe()
neighbourhood_reviews

                       review_scores_rating                              \
                                      count       mean        std   min
neighbourhood
Ajuda                                 168.0  92.779762   7.641226  40.0
Alcntara                              285.0  92.852632   7.012517  55.0
Alvalade                              224.0  93.508929   7.833463  20.0
Areeiro                               325.0  92.233846   9.575275  20.0
Arroios                              1960.0  90.964286   9.662701  20.0
Avenidas Novas                        607.0  91.693575   9.977616  20.0
Beato                                  80.0  89.550000   8.878790  60.0
Belm                                  306.0  91.977124  11.325706  20.0
Benfica                                57.0  92.315789  10.576520  40.0
Campo de Ourique                      320.0  92.687500   8.427219  40.0
Campolide                             160.0  91.525000  10.033873  20.0
Carnide                                38.0  92.605263   8.845642  60.0
Estrela                               987.0  91.746707   8.573077  20.0
Lumiar                                124.0  92.346774  10.661110  40.0
Marvila                                69.0  92.014493  12.958636  20.0
Misericrdia                          2770.0  91.782671   8.157690  20.0
Olivais                               174.0  93.264368   8.486589  20.0
Parque das Naes                       298.0  93.137584   8.917006  20.0
Penha de Frana                        517.0  91.560928   9.319203  20.0
Santa Clara                            17.0  96.588235   3.906066  87.0
Santa Maria Maior                    3378.0  92.260213   7.561617  20.0
Santo Antnio                         1283.0  91.855027   8.846544  20.0
So Domingos de Benfica                120.0  92.475000   8.742788  60.0
So Vicente                           1338.0  92.982810   6.597783  40.0


                          25%   50%    75%    max
neighbourhood
Ajuda                   90.00  95.0   97.0  100.0
Alcntara                90.00  94.0   98.0  100.0
Alvalade                91.00  95.0   98.0  100.0
Areeiro                 90.00  94.0   98.0  100.0
Arroios                 88.00  93.0   97.0  100.0
Avenidas Novas          89.00  95.0   98.0  100.0
Beato                   85.00  91.0   97.0  100.0
Belm                    90.00  95.0   98.0  100.0
Benfica                 90.00  96.0   98.0  100.0
Campo de Ourique        90.00  95.0   98.0  100.0
Campolide               88.75  93.5   98.0  100.0
Carnide                 88.25  95.0  100.0  100.0
Estrela                 90.00  93.0   97.0  100.0
Lumiar                  90.00  96.5  100.0  100.0
Marvila                 90.00  96.0  100.0  100.0
Misericrdia             89.00  94.0   97.0  100.0
Olivais                 91.00  95.0   99.0  100.0
Parque das Naes         92.00  96.0   99.0  100.0
Penha de Frana          89.00  94.0   97.0  100.0
Santa Clara             95.00  97.0  100.0  100.0
Santa Maria Maior       90.00  94.0   97.0  100.0
Santo Antnio            89.00  94.0   98.0  100.0
So Domingos de Benfica  88.00  95.0  100.0  100.0
So Vicente              90.00  94.0   97.0  100.0

In [42]:
## If i want to come to lisbon of a short weekend which neighbourhood would be easier? (e.g. would have less min nights)

columns_to_show = ['minimum_nights']

neighbourhood_minimum_nights = data.groupby(['neighbourhood'])[columns_to_show].describe()
neighbourhood_minimum_nights

                       minimum_nights                                      \
                                count      mean        std  min  25%  50%
neighbourhood
Ajuda                           168.0  2.297619   1.833029  1.0  2.0  2.0
Alcntara                        288.0  2.312500   1.803862  1.0  2.0  2.0
Alvalade                        225.0  4.315556  17.003229  1.0  1.0  2.0
Areeiro                         330.0  2.403030   2.702806  1.0  1.0  2.0
Arroios                        1979.0  2.643254   5.451141  1.0  1.0  2.0
Avenidas Novas                  613.0  3.006525   7.745120  1.0  1.0  2.0
Beato                            81.0  2.444444   2.454588  1.0  2.0  2.0
Belm                            307.0  3.104235   9.915767  1.0  1.0  2.0
Benfica                          57.0  2.578947   2.419765  1.0  1.0  2.0
Campo de Ourique                323.0  2.461300   1.941910  1.0  2.0  2.0
Campolide                       165.0  3.296970   5.089713  1.0  1.0  2.0
Carnide                          40.0  4.575000   7.652342  1.0  2.0  2.0
Estrela                         993.0  2.411883   3.370373  1.0  2.0  2.0
Lumiar                          127.0  2.559055   2.885799  1.0  1.0  2.0
Marvila                          70.0  3.500000  10.579924  1.0  1.0  2.0
Misericrdia                    2786.0  2.383345   6.094545  1.0  2.0  2.0
Olivais                         176.0  3.170455  15.126682  1.0  1.0  1.0
Parque das Naes                 305.0  2.478689   2.980259  1.0  1.0  2.0
Penha de Frana                  521.0  2.896353  13.248396  1.0  2.0  2.0
Santa Clara                      18.0  6.666667  10.792154  1.0  1.0  2.0
Santa Maria Maior              3391.0  2.225597   2.302904  1.0  2.0  2.0
Santo Antnio                   1292.0  2.726006  10.731531  1.0  1.0  2.0
So Domingos de Benfica          123.0  2.658537   2.666825  1.0  1.0  2.0
So Vicente                     1350.0  2.417037   1.799062  1.0  2.0  2.0


                         75%    max
neighbourhood
Ajuda                   3.00   20.0
Alcntara                3.00   20.0
Alvalade                3.00  180.0
Areeiro                 3.00   30.0
Arroios                 3.00  120.0
Avenidas Novas          3.00   90.0
Beato                   3.00   20.0
Belm                    3.00  120.0
Benfica                 3.00   14.0
Campo de Ourique        3.00   21.0
Campolide               3.00   30.0
Carnide                 3.00   30.0
Estrela                 3.00   90.0
Lumiar                  3.00   30.0
Marvila                 3.00   90.0
Misericrdia             3.00  300.0
Olivais                 2.00  200.0
Parque das Naes         3.00   30.0
Penha de Frana          3.00  300.0
Santa Clara             3.75   30.0
Santa Maria Maior       3.00   80.0
Santo Antnio            3.00  365.0
So Domingos de Benfica  3.00   15.0
So Vicente              3.00   30.0

In [43]:
data['price'].describe()

count    15728.000000
mean        81.394138
std         98.036960
min          8.000000
25%         45.000000
50%         65.000000
75%         95.000000
max       8000.000000
Name: price, dtype: float64

In [44]:
#### VALUE FOR MONEY #######

# value_money = review_scores_rating/price

data.insert(5, "value_money", data["review_scores_rating"]/data['price'], True)

In [45]:
columns_to_show = ["value_money"]
neighbourhood_value_money = data.groupby(['neighbourhood'])[columns_to_show].describe()
neighbourhood_value_money

                       value_money                                          \
                             count      mean       std       min       25%
neighbourhood
Ajuda                        168.0  1.841071  1.011627  0.080000  1.184743
Alcntara                     285.0  1.859996  1.097015  0.142857  1.123596
Alvalade                     224.0  2.178612  1.447092  0.082262  1.200000
Areeiro                      325.0  2.355607  1.639764  0.316667  1.276316
Arroios                     1960.0  1.889999  1.242345  0.042174  1.061875
Avenidas Novas               607.0  1.856248  1.417899  0.083333  0.960000
Beato                         80.0  2.239341  1.345456  0.640000  1.389312
Belm                         306.0  1.699734  1.053020  0.180000  1.128411
Benfica                       57.0  1.972608  1.022854  0.551515  1.280000
Campo de Ourique             320.0  1.870112  1.440100  0.122500  1.010420
Campolide                    160.0  2.068875  1.590476  0.500000  1.159855
Carnide                       38.0  2.140977  1.526354  0.323333  1.427536
Estrela                      987.0  1.640109  0.951067  0.098000  1.022100
Lumiar                       124.0  1.941908  1.230555  0.095000  1.084465
Marvila                       69.0  2.131546  1.464272  0.057143  1.282051
Misericrdia                 2770.0  1.427229  0.796267  0.070000  0.928752
Olivais                      174.0  2.305395  1.382242  0.259740  1.346154
Parque das Naes              298.0  1.308997  0.852978  0.166667  0.769231
Penha de Frana               517.0  2.215976  1.404766  0.200000  1.250000
Santa Clara                   17.0  4.675917  2.915218  0.156667  2.475000
Santa Maria Maior           3378.0  1.437867  0.867891  0.012500  0.910000
Santo Antnio                1283.0  1.497327  0.946971  0.077273  0.900000
So Domingos de Benfica       120.0  1.870858  1.316021  0.400000  0.980294
So Vicente                  1338.0  1.608294  0.881334  0.103158  1.078652


                             50%       75%        max
neighbourhood
Ajuda                   1.616667  2.161111   5.555556
Alcntara                1.672414  2.285714   6.666667
Alvalade                1.712069  2.750000   8.363636
Areeiro                 1.904762  3.000000   8.909091
Arroios                 1.546921  2.350735   8.700000
Avenidas Novas          1.474576  2.250000  11.111111
Beato                   1.760482  2.705462   8.000000
Belm                    1.473756  1.939694   7.000000
Benfica                 1.666667  2.285714   5.388889
Campo de Ourique        1.512571  2.090104  12.500000
Campolide               1.625000  2.500000  10.555556
Carnide                 1.696970  2.778571   9.888889
Estrela                 1.500000  1.955556   6.785714
Lumiar                  1.600000  2.564103   6.666667
Marvila                 1.666667  2.538462   7.500000
Misericrdia             1.277047  1.745455   7.384615
Olivais                 1.960000  2.890517   8.333333
Parque das Naes         1.114379  1.583333   5.000000
Penha de Frana          1.800000  2.800000  10.444444
Santa Clara             4.700000  5.882353  10.777778
Santa Maria Maior       1.279706  1.759259  10.333333
Santo Antnio            1.266667  1.820000   7.076923
So Domingos de Benfica  1.519231  2.425000  10.000000
So Vicente              1.450000  1.900000   8.000000

Santa Clara seems to be the most value for money